@model Product
@{
    ViewData["Title"] = "Add";
}
<h1>Add Items</h1>
<hr>

<form asp-controller="Home" asp-action="Add" method="POST">
     <div class="form-group" >
    <label for="Name" asp-for="Id">Product Id</label>
    <input type="number" class="form-control" asp-for="Id" id="Name"  placeholder="Product Id">
   </div>
  <div class="form-group">
    <label  asp-for="Name">Name of Product</label>
    <input type="Name" class="form-control" id="Name" asp-for="Name"  placeholder="Name of product">
  </div>
  <div class="form-group">
    <label  asp-for="Quantities">Quantities</label>
    <input type="number" class="form-control" id="Quantities" asp-for="Quantities" placeholder="Quantities">
  </div> 
   <div class="form-group">
    <label  asp-for="Price">Price</label>
    <input type="number" class="form-control" id="Price" asp-for="Price" placeholder="Price">
   </div>
    <div class="form-group">
    <label  asp-for="DOE">DOE</label>
    <input type="date" type="datetime-local" asp-for="DOE" class="form-control" id="DOE">
   </div>
    <div class="form-group">
    <label  asp-for="Desc">Product Descriptions</label>
    <textarea class="form-control" id="ProductDes" asp-for="Desc" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>